/* 전체 컨테이너에서 스크롤 스냅을 설정 */
.container {
  scroll-snap-type: y mandatory; /* 세로 방향 스냅 설정 */
  overflow-y: scroll; /* 스크롤 가능하도록 설정 */
}

.section {
  scroll-snap-align: start;
  margin-bottom: 82px;
  /* 프로젝트가 아닌 다른 섹션들은 여전히 스냅 */
}

.projectsContainer {
  margin-bottom: 82px;
  height: auto; /* 높이 자동 조정 */
  display: flex;
  flex-direction: column;
  gap: 20px; /* 프로젝트 간의 간격 */
}