.footer {
    max-width: 1300px;
    min-width: 1300px;
    display: flex;
    gap: 20px;
    margin: 0px auto;
    color: var(--hows-gray-900);
}
.footerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
}

.footerInfo {
    font-size: 14px;
    color: #6c757d;
}

.footerInfo a {
    color: #007bff;
    text-decoration: none;
}

.footerLinks a {
    margin: 0 10px;
    color: #6c757d;
    font-size: 20px;
}

.footerLinks a:hover {
    color: #007bff;
}

.footerLinks i {
    transition: color 0.3s ease;
}