* { 
  margin: 0;padding: 0; box-sizing: border-box;
}

/* 스크롤바는 숨기되 스크롤은 작동하게 하기 */
body {
  overflow: auto; /* 스크롤은 가능하게 유지 */
  background-color: var(--mi-100);
  font-size: 20px;
  color: var(--mi-400);
}
h1,h2 {color: var(--mi-500);}

body::-webkit-scrollbar {
  width: 0; /* 스크롤바 너비를 0으로 설정하여 안 보이게 하기 */
  height: 0;
}


dl,ul,ol,menu,li {
  list-style: none
}

a, button {
  cursor: pointer;
  text-decoration: unset;
}

@font-face {
  font-family: 'HancomMalangMalang-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2406-1@1.0/HancomMalangMalang-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  font-display: swap;
  src: url('../src/assets/font/Pretendard-Bold.woff2') format('woff2'), url('../src/assets/font/Pretendard-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 600;
  font-display: swap;
  src: url('../src/assets/font/Pretendard-SemiBold.woff2') format('woff2'), url('../src/assets/font/Pretendard-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 500;
  font-display: swap;
  src: url('../src/assets/font/Pretendard-Medium.woff2') format('woff2'), url('../src/assets/font/Pretendard-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  font-display: swap;
  src: url('../src/assets/font/Pretendard-Regular.woff2') format('woff2'), url('../src/assets/font/Pretendard-Regular.woff') format('woff');
  unicode-range: U+0041-005A, U+0061-007A, U+AC00-D7A3, U+0030-0039;
  /* 유니코드 범위
    - U+0041-005A, U+0061-007A	// 영문 대소문자
    - U+AC00-D7A3 // 한글
    - U+0030-0039 // 숫자
    */
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 200;
  font-display: swap;
  src: url('../src/assets/font/Pretendard-ExtraLight.woff2') format('woff2'), url('../src/assets/font/Pretendard-ExtraLight.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 100;
  font-display: swap;
  src: url('../src/assets/font/Pretendard-Thin.woff2') format('woff2'), url('../src/assets/font/Pretendard-Thin.woff') format('woff');
}

:root {
  --mi-100: #222831;
  --mi-200: #31363F;
  --mi-300: #76ABAE;
  --mi-400: #EEEEEE;
  --mi-500: #E5DDC5;
  --mi-600: #1f1f1f1c;
}