.container {
    width: 100%;
    height: 100vh; /* 100vh는 화면 높이의 100% */
    max-width: 1300px;
    min-width: 1300px;
    margin: 0 auto;
    /* padding: 20px; */
    /* border: 1px solid white; */
  }
  
  .title {
    /* margin-top: 10%; */
    text-align: center;
    font-size: 3rem;
    margin-bottom: 40px;
  }
  
  /* 한 줄에 3개의 카테고리가 들어가도록 설정 */
  .skillsSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px; /* 카테고리 간 간격 추가 */
  }
  
  .category {
    flex-basis: calc(33.333% - 40px); /* 3개의 카테고리, 좌우 여백 포함 */
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; /* 아래쪽 여백 추가 */
  }
  
  .category h2 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: var(--mi-200);
  }
  
  .skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
  
  .skills img {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    object-fit: cover;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* 애니메이션 추가 */
    cursor: pointer;
  }
  
  .skills img:hover {
    transform: scale(1.1); /* 호버 시 이미지 확대 */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* 호버 시 그림자 효과 강화 */
  }
  
  .modalBox {
    text-align: center;
    padding: 0 30px;
    border-radius: 40px;
    color: var(--mi-100);
    font-size: 20px; 
  }
  .modalBox h3 {margin-bottom: 15px;}